#d1{
    font-family:pacifico;
    font-size:40px;
    text-align:center;
    color:pink;
    
    
}
#d2{
    width: 100%;
    background-origin: padding-box;
    border: 5px solid rgb(138, 247, 117);
}

#d3{
    font-size: 20px;
    color:blue;
    margin: 0%;
    position: relative;
    top: 45%;
    left: 45%;
    -ms-transform:translate( -45%,-45%);
    transform: -45%,-45%;
}

table, th{
    border: 1px solid black;
    text-align:center;
    text-decoration-color: aquamarine;
    font-size: 40px;
  }
  table,td{
      border: 1px solid black;
      text-align: left;
  }

  #bol{
      text-align: center;
  }

  ul, ol{
      font-size: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align:center;
      list-style-position: inside;
      margin-left: 0%;
  }


  dl{
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  
